.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
}
.item{
    width: 220px;
    border-radius: 8px;
    background-color:#fff;
    box-shadow: 0 4px 6px rgba(196, 23, 23, 0.694);
    text-align: center;
    padding: 16px;
}
.box{
    width: 100px;
    height: 100px;
    background-color: #007bff;
    color: #fff;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 0 auto 12px;

}
.name{

    font-size: 20px;
    font-weight: bold;
}
.detail{
    font-size: 15px;
    margin: 2px 0;
    color: grey;
}
.body{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 100px;
}